<!-- In-Template Code -->
{% load staticfiles %}
{% load endless %}
{% paginate post_list %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{% static 'js/ajax_upvote.js' %}"></script>
{% for post in post_list %}
<form action="" method="post">
	{% csrf_token %}
	<h3 style="text-align:center;"> {{ post.title }}</h3>	
	<!-- Jos kuvasta klikkaa, ohjaa tuonne.-->
	<a href="/{{ post.pk }}" class="">
		<!-- kroppaa kuvan jos liian korkea  kokeillaan-->
		<div style="max-height:800px;overflow:hidden">
			<img src="{{ post.post_content }}" style="max-width:80%;" align="middle"  name="image"  class="img-rounded auto_center_left_right" >
		</div>
	</a><br>
	<p>{% if user.is_authenticated %}

   
		<div role="group" style="margin-left:35%;">

			{% if user.balance > 0 %}
			<button type="button" id="ajaxbutton{{ post.pk }}" class="btn btn-primary upvote" name="ajaxbutton" value="{{ post.pk }}" data-update-id="ajaxbutton{{ post.pk }}" data-postid ="{{ post.pk }}">	
				<span class="glyphicon glyphicon-bitcoin" aria-hidden="true"></span> 
				Upvotes:  {{ post.upvotes }} 
			</button>
			{% else %}
			<button type="button" id="ajaxbutton{{ post.pk }}" class="btn btn-primary upvote" name="ajaxbutton" value="{{ post.pk }}" data-update-id="ajaxbutton{{ post.pk }}" data-postid ="{{ post.pk }}" disabled="disabled">	
				<span class="glyphicon glyphicon-bitcoin" aria-hidden="true"></span> 
				Upvotes:  {{ post.upvotes }} 
			</button>
			{% endif %}

			<a href="/{{ post.pk }}"><button type="button" class="btn btn-primary upvote">	
					<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
					Comments:  {{ post.noc }} </button>
			</a> 
			 by: {{ post.uploader }}, {{ post.date_added }}<br>
				</div>
		{% else %}
				<div role="group" style="margin-left:35%;">
					<button type="button" id="ajaxbutton" class="btn btn-primary upvote" name="ajaxbutton" value="{{ post.pk }}" data-update-id="upvotes_{{ post.pk }}" data-postid ="{{ post.pk }}" disabled="disabled">	
						<span class="glyphicon glyphicon-bitcoin" aria-hidden="true"></span> 
						Upvotes:  {{ post.upvotes }} </button>
						<a href="/{{ post.pk }}"><button type="button" class="btn btn-primary upvote" value="{{ post.pk }}" data-postid ="{{ post.pk }}">	
							<span class="glyphicon glyphicon-comment" aria-hidden="true"></span> 
							Comments:  {{ post.noc }} </button></a>
						by: {{ post.uploader }}, {{ post.date_added }}<br>
						</div>
						<br><br><br>
		{% endif %}
					</form>
					<p><hr style="height:1px;background-color:#999999;" /></p>
					{% endfor %}
					{% show_more %}