{% extends "profile_base.html" %}



<br>
<br>
<br>


{% block prof_content %}



	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#bitcoins">Bitcoins</a></li>
		<li><a data-toggle="tab" href="#deposit">Deposit</a></li>
		<li><a data-toggle="tab" href="#withdraw">Withdraw</a></li>
	</ul>



	<div class="tab-content col-md-12">




			<div id="bitcoins" class="tab-pane fade in active">

				<h1> You have {{ user.balance }} bitcoins. </h1>
				

			</div>





			<div id="deposit" class="tab-pane fade">
				<h2>1 upvote = 0.001 € = 0.0000039 BTC </h2>
				<br>

				<form action="" enctype="multipart/form-data" method="POST" class="col-md-12" >
					{% csrf_token %}
			<!--{{ form.as_p }}-->
					<h3> How many upvotes would you like to buy
					<br><br>
						<div>
							<input type ="text" name="deposit_amount" id ="deposit_amount"  placeholder="Upvotes" required><br>	
							<br>
							<h4 id = "eur_text" >That is X BTC = X € (tähän ajax että vaihtuu kun kirjottaa)</h4>


						</div>


					<br>
					<input  type="submit"  name ="Submit" class="btn btn-primary btn-lg col-md-3" value="Buy" />
				</form>
				<!--	<h3>{{ muuttuja.amount }}<h3>
				<h3>{{ muuttuja.bitcoin_address }}<h3>
				<h3> {{ muuttuja }} </h3> -->
				<br><br><br><br><br>
				{% if muuttuja.amount  %}
				<h3>Pay  {{ muuttuja.bitcoin_amount.amount }} BTC = {{ a_eur }} €  in next 15 minutes to this address: <h3>
				<div class="panel panel-default">
					<div class="panel-body" id = "addres_panel" >
						{{ muuttuja.bitcoin_address }}
					</div>
				</div>


				<h3><a href="{{ muuttuja.receipt_url }}">You can find your receipt here! </a></h3>

				<h3> {{ muuttuja }} </h3>
				<br>
				<br><br><br><br>
				{% endif %}


			</div>


<!--
			<div id="withdraw" class="tab-pane fade">
				<form action="" enctype="multipart/form-data" method="POST">
			{% csrf_token %}
			<label for="withdrawal_amount">Withdrawal Amount</label>
          	<input type="number" step="any" name="withdrawal_amount" id="withdrawal_amount" class="form-control" placeholder="ex. 0.0001" autofocus><br>
          	<label for="withdrawal_address">Withdrawal Address</label>
          	<input type="text" name="withdrawal_address" id="withdrawal_address" class="form-control" placeholder="Post a valid Bitcoin address here." autofocus><br>
			<input a type="submit" name="Submit" class="btn btn-primary btn-lg col-md-6" value="submit" />
		</form>

			</div>
			-->




	</div>



{% endblock prof_content %}


